


body {
    background-color: #FFF9F2;
    display: flex;
    margin: 0;
    height: 100vh;
    overflow-x: hidden;
    justify-content: center;
}

.container {
    justify-content: center;
    display: flex;
    max-width: 100vh;
    margin: 20px;
}

.bio {
    background-color: #f01e6e;
}