
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&family=Lato&family=Rubik&display=swap');


body {
    background-color: #f01e6e;
    display: flex;
    margin: 0px;
    height: 100vh;
    overflow-x: hidden;
    justify-content: center;
}

.container {
    align-items: center;
    display: flex;
    max-width: 100vh;
    flex-direction: column;
}

.banner {
    font-family: 'Rubik', sans-serif;
    display: flex;
    position: relative;
    background-color: #FFF9F2;
    border-radius: 5px;
    padding: 7px 20px;
    width: 100vw;
    margin-bottom: 10px;
    justify-content: center;
}

h1 {
    font-size: 100px;
    color: #22181c;
}


.bio {
    background-color: #FFF9F2;
    display: flex;
    position: relative;
    width: 800px;
    height: 200px;
}