@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&family=Lato&family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tiro+Devanagari+Hindi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Lato:wght@300&family=Montserrat&family=Roboto+Mono&display=swap');

body {
    display: flex;
    margin: 0px;
    height: auto;
    overflow-x: hidden;
    justify-content: center;
    background-color: #201A1C;
}

.container {
    align-items: center;
    display: flex;
    max-width: 100vh;
    flex-direction: column;
    margin: 0;
}

.nav-pic {
    position: absolute;
    display: flex;
    width: 90%;
    height: auto;
    margin-bottom: 10px;
}


.nav-container {
    background-color: #1fbcff;
    width: 40px;
    height: 35px;
    position: fixed;
    top: 18vh;
    left: -.5vw;
    z-index: 5;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    transition: transform .6s ease;
}

.nav-bar {
    background-color: #1fbcff;
    height: 100vh;
    position: fixed;
    width: 20vw;
    top: 0px;
    left: -20vw;
    z-index: 2;
    transition: transform .6s ease;
    justify-content: center;
    align-items: center;
}

.links {
    font-family: 'Lato', sans-serif;
    top: 35vh;
    position: absolute;
    font-size: 2vw;
    display: flex;
    flex-direction: column;
    width: 20vw;
    right: 2vw;
}

.link {
    margin-top: 3vh;
    position: relative;
    margin-bottom: 3vh;
    display:flex;
    color: #201A1C;
    padding: 5px;

}

.text {
    margin-left: 5px;
    color: #fff9f2;
}

nav a {
    text-decoration: none;
}

.nav-bar.show-nav
{
    transform: translateX(20vw);
}

.nav-container.show-nav
{
    transform: translateX(20vw);
}


h5 {
    position: absolute;
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
    left: 4vw;
    top: 26vh;
    display: flex;
}

.btn3 {
    position: absolute;
    border: 0;
    font-size: 20px;
    background-color: #1fbcff;
    color: #f01e6e;
    cursor: pointer;
}

#open {
    display: block;
    top: 15%;
    left: 15%;
}

#close {
    display: none;
    top: 15%;
    left: 18%;
}



.banner {
    font-family: 'Rubik', sans-serif;
    display: flex;
    position: relative;
    background-color: #f01e6e;
    width: 100vw;
    height: auto;
    align-items: center;
    flex-direction: row;

}

.doodle-duck {
    position: relative;
    display: flex;
    width: 100px;
    height: auto;
    margin-left: 1050px;
    margin-bottom: 5px;
    margin-top: 5px;
}

.vert {
    display: flex;
    position: relative;
    flex-direction: column;
}

h1 {
    display: flex;
    font-size: 30px;
    color: #fff9f2;
    margin-left: 20px;
    position: relative;
    margin-bottom: 10px;
    margin-top: 8px;
}


.socials {
    display: flex;
    height: auto;
    flex-basis: 0;
    font-size: 20px;
    border: 0;
    margin-bottom: 10px;
    margin-left: 16px;
    position: relative;
}

.btn {
    font-size: 20px;
    border: 0;
    color: #fff9f2;
    margin-right: 25px;
    background-color: transparent;
    position: relative;
    cursor: pointer;
    transition: 1s ease;
    display: flex;
    align-items: center;
    justify-content: center;

}

.instaTxt {
    font-family: 'Inconsolata', monospace;
    margin-left: 3px;
    width: 0px;
    opacity: 1;
    overflow: hidden;
    transition: width .3s ease;
}

.tikTxt {
    font-family: 'Inconsolata', monospace;
    margin-left: 2px;
    width: 0px;
    opacity: 1;
    overflow: hidden;
    transition: width .3s ease;
}

.youTxt {
    font-family: 'Inconsolata', monospace;
    margin-left: 4px;
    width: 0px;
    opacity: 1;
    overflow: hidden;
    transition: width .3s ease;
}

.twitchTxt {
    font-family: 'Inconsolata', monospace;
    margin-left: 4px;
    width: 0px;
    opacity: 1;
    overflow: hidden;
    transition: width .3s ease;
}

.title-container {
    font-family: 'Rubik', sans-serif;
    display: flex;
    position: absolute;
    background-color: #f01e6e;
    width: 100vw;
    height: auto;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}


h3 {
    position: absolute;
    font-size: 75px;
    color: white;
}

.about-container {
    position: relative;
    display: flex;
    width: 90vw;
    margin: 20px;
    height: auto;
    flex-direction: column;
    margin-top: 10px;
    align-items: center;
}

h4 {
    position: relative;
    display: flex;
    font-size: 30px;
    color: white;
    font-family: 'Lato', sans-serif;
    color: #1fbcff;
    letter-spacing: 2px;
    margin-bottom: 3px;
}

p {
    color: #fcf803;
}

p2 {
    color: #fff9f2;
    font-family: 'Lato', sans-serif;
    font-size: 19px;
    margin-bottom: 15px;
    text-indent: 40px;
    letter-spacing: 1px;
    line-height: 25px;
}

p3 {
    color: #fff9f2;
    font-family: 'Lato', sans-serif;
    font-size: 19px;
    text-indent: 40px;
    letter-spacing: 1px;
    line-height: 30px;
}

.miscellaneous {
    display: flex;
    flex-direction: column;
}

.h8 {
    margin-bottom: 2vh;
}

.misc-box {
    
}
.misc-list {
    margin-top: 2vh;
    color: #fff9f2;
    font-family: 'Lato', sans-serif;
    font-size: 19px;
    text-indent: 40px;
    letter-spacing: 1px;
    line-height: 30px;
}
/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #1fbcff #f01e6e;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 17px;
  }

  *::-webkit-scrollbar-track {
    background: #f01e6e;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #1fbcff;
    border-radius: 10px;
    border: 5px double #fff9f2;
  }

  p {
    color: #fcf803;
    font-family: 'Inconsolata', monospace;
    font-size: 23px;
  }

  /* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #1fbcff #f01e6e;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 17px;
  }

  *::-webkit-scrollbar-track {
    background: #f01e6e;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #1fbcff;
    border-radius: 10px;
    border: 5px double #fff9f2;
  }

  .auto-bio {
    position: relative;
    width: 50vw;
    height: auto;
    display: flex;
    flex-direction: column;

  }

  .bio-container {
    position: relative;
    display: flex;
    width: 90vw;
    margin: 20px;
    height: auto;
    flex-direction: column;
    margin-top: 10px;
}