
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&family=Lato&family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tiro+Devanagari+Hindi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Lato:wght@300&family=Montserrat&family=Roboto+Mono&display=swap');

body {
    display: flex;
    margin: 0px;
    height: auto;
    overflow-x: hidden;
    justify-content: center;
    background-color: #201A1C;
}

.container {
    align-items: center;
    display: flex;
    max-width: 100vh;
    flex-direction: column;
    margin: 0;
}

.nav-pic {
    position: absolute;
    display: flex;
    width: 90%;
    height: auto;
    margin-bottom: 10px;
}


.nav-container {
    background-color: #1fbcff;
    width: 40px;
    height: 35px;
    position: fixed;
    top: 18vh;
    left: -.5vw;
    z-index: 5;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    transition: transform .6s ease;
}

.nav-bar {
    background-color: #1fbcff;
    height: 100vh;
    position: fixed;
    width: 20vw;
    top: 0px;
    left: -20vw;
    z-index: 2;
    transition: transform .6s ease;
    justify-content: center;
    align-items: center;
}

.links {
    font-family: 'Lato', sans-serif;
    top: 35vh;
    position: absolute;
    font-size: 2vw;
    display: flex;
    flex-direction: column;
    width: 20vw;
    right: 2vw;
}

.link {
    margin-top: 3vh;
    position: relative;
    margin-bottom: 3vh;
    display:flex;
    color: #201A1C;
    padding: 5px;

}

.text {
    margin-left: 5px;
    color: #fff9f2;
}

nav a {
    text-decoration: none;
}

.nav-bar.show-nav
{
    transform: translateX(20vw);
}

.nav-container.show-nav
{
    transform: translateX(20vw);
}


h5 {
    position: absolute;
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
    left: 4vw;
    top: 26vh;
    display: flex;
}

.btn3 {
    position: absolute;
    border: 0;
    font-size: 20px;
    background-color: #1fbcff;
    color: #f01e6e;
    cursor: pointer;
}

#open {
    display: block;
    top: 15%;
    left: 15%;
}

#close {
    display: none;
    top: 15%;
    left: 18%;
}


.banner {
    font-family: 'Rubik', sans-serif;
    display: flex;
    position: relative;
    background-color: #f01e6e;
    width: 100vw;
    height: auto;
    align-items: center;
    flex-direction: row;
}

.doodle-duck {
    position: absolute;
    display: flex;
    width: 100px;
    height: auto;
    margin-bottom: 2vh;
    top: .9vh;
    right: 4vw;
}

.vert {
    display: flex;
    position: relative;
    flex-direction: column;
}

h1 {
    display: flex;
    font-size: 30px;
    color: #fff9f2;
    margin-left: 2vw;
    position: relative;
    margin-bottom: 10px;
    margin-top: 8px;
}


.socials {
    display: flex;
    height: auto;
    flex-basis: 0;
    font-size: 20px;
    border: 0;
    margin-bottom: 15px;
    margin-left: 16px;
    position: relative;
    width: auto;
}

.btn {
    font-size: 20px;
    border: 0;
    color: #fff9f2;
    margin-right: 20px;
    background-color: transparent;
    position: relative;
    cursor: pointer;
    transition: 1s ease;
    display: flex;
    align-items: center;
    justify-content: center;

}

.instaTxt {
    font-family: 'Inconsolata', monospace;
    margin-left: 3px;
    width: 0px;
    opacity: 1;
    overflow: hidden;
    transition: width .3s ease;
}

.tikTxt {
    font-family: 'Inconsolata', monospace;
    margin-left: 2px;
    width: 0px;
    opacity: 1;
    overflow: hidden;
    transition: width .3s ease;
}

.youTxt {
    font-family: 'Inconsolata', monospace;
    margin-left: 4px;
    width: 0px;
    opacity: 1;
    overflow: hidden;
    transition: width .3s ease;
}

.twitchTxt {
    font-family: 'Inconsolata', monospace;
    margin-left: 4px;
    width: 0px;
    opacity: 1;
    overflow: hidden;
    transition: width .3s ease;
}

.pg-btns {
    display: flex;
    position: absolute;
    flex-direction: row;
    max-height: 40px;
    width: 100vw;
    align-items: center;
    left: 22vw;
    justify content: center;
}

.btn2 {
    font-family: 'Rubik', sans-serif;
    position: relative;
    font-size: 26px;
    margin-left: 40px;
    margin-right: 30px;
    border-radius: 10px;
    border: 2px solid #fcf803;
    padding: 3px 10px;
    text-align: center;
    cursor: pointer;
    background-color: #f01e6e;
    color: #fff9f2;
    box-shadow: 0 0.3em #1fbcff, 0 0.6em 3px rgba(0, 0, 0, 0.4);
    top: 0;
    transition: all 60ms ease-in-out;
}


.btn2:active {
    top: 0.2em;
    box-shadow: 0 0.2em #2080ff, 0 0.5em 2px rgba(0, 0, 0, 0.4);
  }

.bio-container {
    display: flex;
    width: 100vw;
    margin-left: 50px;
    flex-direction: column;

}

h2 {
    position: relative;
    font-size: 72px;
    display: flex;
    font-family: 'Lato', sans-serif;
    color: #fcf803;
    letter-spacing: 2px;
    margin-bottom: 8px;
}

.bio-container {
    width: 100vw;
    height: auto;
    padding: 20px;
    margin-top: 55px;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}


.bio {
    display: flex;
    position: relative;
    width: 50vw;
    height: auto;
    border-radius: 8px;
    justify-content: center;
    flex-direction: column;
}

.gif {
    display: flex;
    width: auto;
    height: 80vh;
    position: absolute;
    z-index: -1;
    right: 2.5vw;
    top: 120px;
    background-color: #22181c;

}

p1 {
    font-family: 'Inconsolata', monospace;
    padding: 10px;
    font-size: 24px;
    color: #fff9f2;
    display: flex;
    position: relative;
    margin-top: 0px;
}

.work {
    margin-top: 11vh;
    display: flex;
    position: relative;
    width: 94vw;
    height: auto;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.pic {
    width: auto;
    height: 49vh;
    display: flex;
}

.pic-tall {
    width: auto;
    height: 51vh;
    display: flex;
}

.set1 {
    flex-direction: row;
    display: flex;
    position: relative;
    width: 96vw;
    height: auto;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

.set2 {
    flex-direction: row;
    display: flex;
    position: relative;
    width: 95vw;
    height: auto;
    overflow: hidden;
    justify-content: center;
    align-items: center;

}

.set3 {
    flex-direction: row;
    display: flex;
    position: relative;
    width: 96vw;
    height: auto;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

.pic-tall2 {
    width: auto;
    height: 64vh;
    display: flex;
}

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #1fbcff #f01e6e;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 17px;
  }

  *::-webkit-scrollbar-track {
    background: #f01e6e;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #1fbcff;
    border-radius: 10px;
    border: 5px double #fff9f2;
  }